<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <application
        android:name=".MorleyApplication"
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:label="B&amp;L Morley"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.BL.Morley">
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bnlmorley" android:host="auth" android:path="/callback" />
            </intent-filter>
        </activity>
        <activity android:name=".TemporaryPasswordGateActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".DashboardActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".UniversalBuySearchActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ValuationHistoryActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".NfcScannerActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".TestBuyActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".UpdateActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MandatoryUpdateActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".MenuFeatureActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".HelpGuideActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".NotificationCentreActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".DiagnosticsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".EmbeddedAdminActivity" android:exported="false" android:screenOrientation="portrait" android:label="B&amp;L Morley Admin Mode" />
        <activity
            android:name=".SupportTicketActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="B&amp;L Morley Support" />
        <activity
            android:name=".MaintenanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="B&amp;L Morley Maintenance" />

        <service
            android:name=".MorleyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>